<div class="panel panel-default">
  <button type="button" class="close" aria-label="Close" (click)="removeItem()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="panel-heading">
    <h3 class="panel-title">Name here {{ currentQuoteValue?.name }}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm">
        Change today: {{ currentQuoteValue?.d | percent }}
      </div>
      <div class="col-sm">
        Opening price: {{ currentQuoteValue?.o | currency }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        Current price: {{ currentQuoteValue?.c | currency }}
      </div>
      <div class="col-sm">
        High price: {{ currentQuoteValue?.h | currency }}
      </div>
    </div>

    <button
      type="button"
      id="btnSave"
      class="btn btn-primary pull-right"
      (click)="navigateToStockDetails()"
    >
      Go to social sentiments details
    </button>
  </div>
</div>
