<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Name here params route</h3>
    </div>
    <div class="panel-body">
      <div
        class="row"
        *ngFor="let sentiment of currentQuoteSentiment?.data; let i = index"
      >
        <div class="col-sm">
          <app-stock-month-sentiment
            [monthlySentimentValue]="sentiment"
          ></app-stock-month-sentiment>
        </div>
      </div>

      <button
        type="button"
        id="btnSave"
        class="btn btn-primary pull-right"
        (click)="backToListStock()"
      >
        <span style="font-size: 2em">&#8592;</span>
        Back to list of stocks
      </button>
    </div>
  </div>
</div>
